* {
    font-family: sans-serif;
    font-size: large;
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
}
/* Header Style and Navbar */
img {
    width: 15%;
}
nav {
    height: 100%;
}

ul {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    background-color: rgb(96, 0, 164);
    padding: 8px;
}
li {
    background: none;
}
/* Main Sections Style */
#AboutMe {
    display: block;
    text-decoration: underline;
}

p {
    text-align: start;
}

.flex-container {
    display:block;
    flex-direction: row;
}
.horiseon{
    display: flex;
    width: 50%;
    justify-content:center;
    
}

.comingsoon{
    width: 50%;
}