* {
    font-family: sans-serif;
    font-size: large;
    background-color: rgb(63, 63, 63);
    color: whitesmoke;
}
/* Header Style and Navbar */
.profile {
    width: 15%;
}

.navbar{
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-color: rgb(96, 0, 164);
    padding: 8px;
    list-style: none;
}
li {
    background: none;
}
/* Main Sections Style */
#AboutMe {
    display: block;
}

p {
    text-align: start;
}

.box img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.row{
    display: flex;
    box-sizing: border-box;
}
.column{
    flex: 50%;
    padding: 5px;
}


.horiseon{
    display: flex;
    width: 50%;
    justify-content:center;
    
}

.info{ display: flex;
    justify-content: center;
    gap: 1rem;
    list-style: none;
}